{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
IRB Request Form Entry
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
		       
{% endblock %}

{% block content %}
<div class="container">

  <form  method = "POST" action="/submitdataidentifierform">
        <h2 style= "text-align: center;">Identifier Form Entry</h2>
	    {{form.hidden_tag() }}

	    <h4 style="text-align: center;">Please fill the form as Yes or No for the required fields</h4>

<tr>
   
    <td>{{ wtf.form_field(form.irb_description) }}</td>
    <td>{{ wtf.form_field(form.do_you_need_details_about_person_id) }}</td>
    <td>{{ wtf.form_field(form.do_you_need_details_about_gender_of_the_person) }}</td>
    <td>{{ wtf.form_field(form.do_you_need_details_about_race_of_the_person) }}</td>
    <td>{{ wtf.form_field(form.do_you_need_details_about_year_of_birth_of_the_person) }}</td>
    <td>{{ wtf.form_field(form.do_you_need_details_about_month_of_birth_of_the_person) }}</td>
    <td>{{ wtf.form_field(form.do_you_need_details_about_day_of_birth_of_the_person) }}</td>
    <td>{{ wtf.form_field(form.do_you_need_details_about_time_of_birth_of_the_person) }}</td>
    <td>{{ wtf.form_field(form.do_you_need_details_about_place_of_residency) }}</td>
    <td>{{ wtf.form_field(form.do_you_need_details_about_primary_care_provider)}}</td>
    <td>{{ wtf.form_field(form.do_you_need_details_about_site_of_primary_care)}}</td>
    <td>{{ wtf.form_field(form.do_you_need_details_about_ethnicity_of_the_person)}}</td>
</tr>
  
    <button class="btn btn-lg btn-primary btn-block" type="submit">Next</button>
  </form>
  <body background="{{ url_for('static', filename='images-background1.jpeg') }}" background-repeat:no-repeat;>
</div> <!-- /container -->
{% endblock %}
