{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
IRB Request Form Entry
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">

  <form class="form-signin" method = "POST" action="/submitidentifierform">
    <h2 class="form-signin-heading">IRB Request Entry</h2>
    {{form.hidden_tag() }}
    
<tr>
   
    <td>{{ wtf.form_field(form.irb_description) }}</td>
    <td>{{ wtf.form_field(form.person_id) }}</td>
    <td>{{ wtf.form_field(form.gender) }}</td>
    <td>{{ wtf.form_field(form.race) }}</td>
    <td>{{ wtf.form_field(form.year_of_birth) }}</td>
    <td>{{ wtf.form_field(form.month_of_birth) }}</td>
    <td>{{ wtf.form_field(form.day_of_birth) }}</td>
    <td>{{ wtf.form_field(form.time_of_birth) }}</td>
    <td>{{ wtf.form_field(form.location) }}</td>
    <td>{{ wtf.form_field(form.provider)}}</td>
    <td>{{ wtf.form_field(form.care_site)}}</td>
    <td>{{ wtf.form_field(form.ethnicity)}}</td>
    <h2 class="form-signin-heading">Domain Form Entry</h2>
    <td>{{ wtf.form_field(form.condition)}}</td>
    <td>{{ wtf.form_field(form.condition_device)}}</td>
    <td>{{ wtf.form_field(form.condition_drug)}}</td>
    <td>{{ wtf.form_field(form.condition_measurement)}}</td>
    <td>{{ wtf.form_field(form.condition_observation)}}</td>
    <td>{{ wtf.form_field(form.condition_procedure)}}</td>
    <td>{{ wtf.form_field(form.device)}}</td>
    <td>{{ wtf.form_field(form.device_drug)}}</td>
    <td>{{ wtf.form_field(form.device_observation)}}</td>
    <td>{{ wtf.form_field(form.device_procedure)}}</td>
    <td>{{ wtf.form_field(form.drug)}}</td>
    <td>{{ wtf.form_field(form.drug_measurement)}}</td>
    <td>{{ wtf.form_field(form.drug_observation)}}</td>
    <td>{{ wtf.form_field(form.drug_procedure)}}</td>
    <td>{{ wtf.form_field(form.measurement)}}</td>
    <td>{{ wtf.form_field(form.measurement_procedure)}}</td>
    <td>{{ wtf.form_field(form.measurement_observation)}}</td>
    <td>{{ wtf.form_field(form.observation)}}</td>
    <td>{{ wtf.form_field(form.observation_procedure)}}</td>
    <td>{{ wtf.form_field(form.procedure)}}</td>
    <td>{{ wtf.form_field(form.visit)}}</td>
    <td>{{ wtf.form_field(form.specimen)}}</td>
    
   
</tr>

    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  </form>

</div> <!-- /container -->
{% endblock %}
