{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign Up
{% endblock %}

{% block styles %}
{{super()}}
<script>
        function appReq(reqid){
               
                var link = "{{url_for('approvereq', req_id ='reqid') }}".replace('reqid', reqid);
                window.location.href= link;
	}
        function denyReq(reqid){

                var link = "{{url_for('denyreq', req_id ='reqid') }}".replace('reqid', reqid);
                window.location.href= link;
        }
</script>
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}


{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Honest Broker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href=" {{url_for('logout') }}">Logout</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

<div class="container">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

	<h4> Below are the details of the fields which the researcher/user requested : 1 - Yes ; 0 - No</h4>

	<h5> </h5>
	 <table class="table table-bordered" style="border-color:black;">
		 <h3> Identifier fields</h3>
              <thead>
                <tr>
                  <th style="border-color:black;">Person ID</th>
                  <th style="border-color:black;">Gender</th>
		  <th style="border-color:black;">Race</th>
		  <th style="border-color:black;">Year of Birth</th>
		  <th style="border-color:black;">Month of Birth</th>
		  <th style="border-color:black;">Day of Birth</th>
		  <th style="border-color:black;">Time of Birth</th>
		  <th style="border-color:black;">Place of Residency</th>
			<th style="border-color:black;">Primary Care Provider</th>
		  <th style="border-color:black;">Site of Primary Care</th>
		  <th style="border-color:black;">Ethnicity</th>
					  
                </tr>
              </thead>
              <tbody>
                
			
                   
			    <tr> 
				    
				    <td style="border-color:black;">{{record[4]}}</td>
			    
			   
                              	    <td style="border-color:black;">{{record[5]}}</td>
			    
				    <td style="border-color:black;">{{record[6]}}</td>
			    
				    <td style="border-color:black;">{{record[7]}}</td>
			    
			   
				    <td style="border-color:black;">{{record[8]}}</td>
			    
			   
				    <td style="border-color:black;">{{record[9]}}</td>
			    
			   
				    <td style="border-color:black;">{{record[10]}}</td>
			   
			   
				    <td style="border-color:black;">{{record[11]}}</td>
			    
			   
				    <td style="border-color:black;">{{record[12]}}</td>
			    
			   
				    <td style="border-color:black;">{{record[13]}}</td>
			    
			    
				    <td style="border-color:black;">{{record[14]}}</td>
			   
			       
			
                            </tr>
     	</tbody>

	 </table> 

      <h3> Identifier Justification</h3>
 <table class="table table-bordered" style="border-color:black;"> 

              <thead>
                <tr>
                  <th style="border-color:black;">Justification</th>
                </tr>
              </thead>
              <tbody>
                      <tr>
                              <td style="border-color:black;">{{recordinfo[5]}}</td>
                        </tr>
                </tbody>

        </table>
 <h3> Domain fields</h3>

 <table class="table table-bordered" style="border-color:black;">

              <thead>
                <tr>
                  <th style="border-color:black;">Condition</th>
                  <th style="border-color:black;">Condition/Device</th>
                  <th style="border-color:black;">Condition/Drug</th>
                  <th style="border-color:black;">Condition/Measurement</th>
                  <th style="border-color:black;">Condition/Observation</th>
                  <th style="border-color:black;">Condition/Procedure</th>
                  <th style="border-color:black;">Device</th>
                  <th style="border-color:black;">Device/Drug</th>
                  <th style="border-color:black;">Device/Observation</th>
                  <th style="border-color:black;">Device/Procedure</th>
                  <th style="border-color:black;">Drug</th>
                  <th style="border-color:black;">Drug/Measurement</th>
                  <th style="border-color:black;">Drug/Observation</th>
                  <th style="border-color:black;">Drug/Procedure</th>
                  <th style="border-color:black;">Measurement</th>
                  <th style="border-color:black;">Measurement/Procedure</th>
                  <th style="border-color:black;">Mesaurement/Observation</th>
                  <th style="border-color:black;">Observation</th>
                  <th style="border-color:black;">Observation/Procedure</th>
                  <th style="border-color:black;">Procedure</th>
                  <th style="border-color:black;">Visit</th>
                  <th style="border-color:black;">Specimen</th>
                </tr>
              </thead>
              <tbody>
 <tr>

                                    <td style="border-color:black;">{{record1[1]}}</td>


                                    <td style="border-color:black;">{{record1[2]}}</td>

                                    <td style="border-color:black;">{{record1[3]}}</td>

                                    <td style="border-color:black;">{{record1[4]}}</td>


                                    <td style="border-color:black;">{{record1[5]}}</td>


                                    <td style="border-color:black;">{{record1[6]}}</td>


                                    <td style="border-color:black;">{{record1[7]}}</td>


                                    <td style="border-color:black;">{{record1[8]}}</td>


                                    <td style="border-color:black;">{{record1[9]}}</td>


                                    <td style="border-color:black;">{{record1[10]}}</td>


                                    <td style="border-color:black;">{{record1[11]}}</td>
                                    <td style="border-color:black;">{{record1[12]}}</td>
                                    <td style="border-color:black;">{{record1[13]}}</td>

                                    <td style="border-color:black;">{{record1[14]}}</td>
				  <td style="border-color:black;">{{record1[15]}}</td>


                                    <td style="border-color:black;">{{record1[16]}}</td>


                                    <td style="border-color:black;">{{record1[17]}}</td>


                                    <td style="border-color:black;">{{record1[18]}}</td>


                                    <td style="border-color:black;">{{record1[19]}}</td>


                                    <td style="border-color:black;">{{record1[20]}}</td>


                                    <td style="border-color:black;">{{record1[21]}}</td>
                                        <td style="border-color:black;">{{record1[22]}}</td>
<td style="border-color:black;">{{record1[23]}}</td>



                </tbody>
 </table>


 <h3> Domain Justification</h3>
 <table class="table table-bordered" style="border-color:black;">

              <thead>
                <tr>
                  <th style="border-color:black;" .font-italic >Justification</th>
		</tr>
	      </thead>
	      <tbody>
		      <tr>
			      <td style="border-color:black;">{{recordinfo[6]}}</td>
			</tr>
		</tbody>

	</table>

                 <form action =" {{url_for('viewriskinfo') }} " method ="get">
                        <input type = "submit"class = "btn btn-success" value="Risk Values">
                </form>

<body background="{{ url_for('static', filename='images-background5.jpeg') }}" background-repeat:no-repeat;>
                    </tbody>
 </table>
		{% for pendingreq_info in pendingreq_info %}
   
		<button class="btn btn-lg btn-primary btn-block" style="width:1000px  onclick = "appReq(' {{pendingreq_info.trustid}} ')" method = 'GET' type="button">Approve</button>
		<button class="btn btn-lg btn-primary btn-block"  onclick = "denyReq('{{pendingreq_info.trustid}}')" method = 'GET' type="button">Deny</button>
  
	{% endfor %}	
	</form>


</div> <!-- /container -->
{% endblock %}
