{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Data Requests Details
{% endblock %}

{% block styles %}
{{super()}}
<script>
        function appReq(reqid){
               
                var link = "{{url_for('approvereq', req_id ='reqid') }}".replace('reqid', reqid);
                window.location.href= link;
	}
        function denyReq(reqid){

                var link = "{{url_for('denyreq', req_id ='reqid') }}".replace('reqid', reqid);
                window.location.href= link;
        }
</script>
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">

	<h4> Below are the details of the fields which the researcher/user requested : 1 - Yes ; 0 - No</h4>

	<h5> </h5>
	 <table class="table table-bordered">

              <thead>
                <tr>
                  <th>Condition</th>
                  <th>Condition/Device</th>
		  <th>Condition/Drug</th>
		  <th>Condition/Measurement</th>
		  <th>Condition/Observation</th>
		  <th>Condition/Procedure</th>
		  <th>Device</th>
		  <th>Device/Drug</th>
		  <th>Device/Observation</th>
		  <th>Device/Procedure</th>
		  <th>Drug</th>
	          <th>Drug/Measurement</th>
		  <th>Drug/Observation</th>
		  <th>Drug/Procedure</th>
		  <th>Measurement</th>
		  <th>Measurement/Procedure</th>
		  <th>Mesaurement/Observation</th>
		  <th>Observation</th>
		  <th>Observation/Procedure</th>
		  <th>Procedure</th>
		  <th>Visit</th>
		  <th>Specimen</th>
                </tr>
              </thead>
              <tbody>
                
			{% for item in res %}
           		    <tr> 
				    
				    <td>{{item[1]}}</td>
			    
			   
                              	    <td>{{record[2]}}</td>
			    
				    <td>{{record[3]}}</td>
			    
				    <td>{{record[4]}}</td>
			    
			   
				    <td>{{record[5]}}</td>
			    
			   
				    <td>{{record[6]}}</td>
			    
			   
				    <td>{{record[7]}}</td>
			   
			   
				    <td>{{record[8]}}</td>
			    
			   
				    <td>{{record[9]}}</td>
			    
			   
				    <td>{{record[10]}}</td>
			    
			    
				    <td>{{record[11]}}</td>
				    <td>{{record[12]}}</td>
                                    <td>{{record[13]}}</td>

                                    <td>{{record[14]}}</td>


                                    <td>{{record[15]}}</td>


                                    <td>{{record[16]}}</td>


                                    <td>{{record[17]}}</td>


                                    <td>{{record[18]}}</td>


                                    <td>{{record[19]}}</td>


                                    <td>{{record[20]}}</td>


                                    <td>{{record[21]}}</td>
					<td>{{record[22]}}</td>
					<td>{{record[23]}}</td>
			   
			       
			
                            </tr>
			    {% endfor %}
<body background="{{ url_for('static', filename='images-background1.jpeg') }}" background-repeat:no-repeat;>
                    </tbody>
 </table>
		{% for pendingreq_info in pendingreq_info %}
   
		<button class="btn btn-lg btn-primary btn-block" style="width:1000px  onclick = "appReq(' {{pendingreq_info.trustid}} ')" method = 'GET' type="button">Approve</button>
		<button class="btn btn-lg btn-primary btn-block"  onclick = "denyReq('{{pendingreq_info.trustid}}')" method = 'GET' type="button">Deny</button>
  
	{% endfor %}	
	</form>


</div> <!-- /container -->
{% endblock %}
