{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign Up
{% endblock %}

{% block styles %}
{{super()}}
<script>
        function appReq(reqid){
               
                var link = "{{url_for('approvereq', req_id ='reqid') }}".replace('reqid', reqid);
                window.location.href= link;
	}
        function denyReq(reqid){

                var link = "{{url_for('denyreq', req_id ='reqid') }}".replace('reqid', reqid);
                window.location.href= link;
        }
</script>
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">
 <table class="table table-striped">
              <thead>
                <tr>
                  <th>Staffread Policies</th>
                  <th>Doc Attest</th>
                  <th>Doc Review</th>
		  <th>Staff Training</th>
		  <th>Doc Training</th>
		  <th>Desig Staff</th>
		  <th>Assoc Receive</th>
		  <th>Business</th>
		  <th>Audit</th>
		  <th>Written Report</th>
		  <th>Sys In</th>
		  <th>Demonstrate</th>
		  <th>Report</th>
		  <th>Anonymous</th>
		  <th>Beta Value</th>
		  <th>Dirichlet value</th>
		 
		  
                </tr>
              </thead>
              <tbody>
                
			</thead>
                    <tbody>
			    <tr> 
				    {% for pendingreq_info in pendingreq_info %}
				    <td>{{pendingreq_info.staffread_policies}}</td>
                              	    <td>{{pendingreq_info.doc_attest}}</td>
				    <td>{{pendingreq_info.doc_review}}</td>
				    <td>{{pendingreq_info.staff_training}}</td>
				    <td>{{pendingreq_info.doc_training}}</td>
				    <td>{{pendingreq_info.desig_staff}}</td>
				    <td>{{pendingreq_info.assoc_receive}}</td>
				    <td>{{pendingreq_info.business}}</td>
				    <td>{{pendingreq_info.audit}}</td>
				    <td>{{pendingreq_info.written_report}}</td>
				    <td>{{pendingreq_info.sys_in}}</td>
				    <td>{{pendingreq_info.demonstrate}}</td>
				    <td>{{pendingreq_info.report}}</td>
				    <td>{{pendingreq_info.anonymous}}</td>
				    <td>{{pendingreq_info.beta}}</td>
				    <td>{{pendingreq_info.dirichlet}}</td>
                                 {% endfor %} 
                            </tr>

                    </tbody>
                </table>
		{% for pendingreq_info in pendingreq_info %}
   
		<button class="btn btn-lg btn-primary btn-block"  onclick = "appReq(' {{pendingreq_info.trustid}} ')" method = 'GET' type="button">Approve</button>
		<button class="btn btn-lg btn-primary btn-block"  onclick = "denyReq('{{pendingreq_info.trustid}}')" method = 'GET' type="button">Deny</button>
  
	{% endfor %}	
	</form>


</div> <!-- /container -->
{% endblock %}
